Thumbs.db
.DS_Store
*.log

/project/wp-config.php
/project/.htaccess
/project/.htpasswd
/project/index.php
/project/license.txt
/project/readme.html
/project/wp-*.php
/project/xmlrpc.php
/project/wp-admin/*
/project/wp-content/*
!/project/wp-content/themes
/project/wp-content/themes/*
!/project/wp-content/themes/sample
/project/wp-content/themes/my-theme/css/.sass-cache/*
/project/wp-includes/*